<html>
<head>
	<style>
	textarea{
		resize:none;
	}
	label{
		padding-left:5px;
		margin-right: 10px;
	}
	</style>
	<title>Survey Form</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
$(document).ready(function (){
    // this triggers the connection event in our server!
    var socket = io.connect();
    // we'll write all the socket stuff after the above line!
    $('button').click(function (){
        socket.emit("button_clicked", {reason: "because I want to learn about sockets!"});
    });
    socket.on('server_response', function (data){
        console.log('The server says: ' + data.response);
    });
            })
    </script>
</head>
<body>
    <h2>Insert Info Here</h2>
    <form>
    	<label>Operating System: </label><label><input type='radio' name='os' value='OSX'>OSX</label><label><input type='radio' name='os' value='Windows'>Windows</label><label><input type='radio' name='os' value='iOS'>iOS</label><label><input type='radio' name='os' value='Android'>Android</label>
    		<label><input type='radio' name='os' value='' checked='checked'>other:<input type='text' name='other_os'/></label><br>
    	
    	<label>Web Browser: <select name='browser'>
    		<option value="Internet Explorer">Internet Explorer</option>
    		<option value="Safari">Safari</option>
    		<option value="Chrome">Chrome</option>
    		<option value="Firefox">Firefox</option>
    		<option value="Opera">Opera</option>
    		<option value="Other">Other</option>
    	  	</select></label><br>
    	<label>Favorite Language: <input type='text' name='favlang' required></label><br>
    	<label>Comments: <textarea name='comment' cols='90' rows='7'></textarea></label><br>
    	<button type='submit' value='submit'>Submit</button>
    </form>
</body>
</html>