<html>
<head>
	<style>
	textarea{
		resize:none;
	}
	label{
		padding-left:5px;
		margin-right: 10px;
	}
	</style>
	<title>Survey Form</title>
	</head>
<body>
    <h2>Insert Info Here</h2>
    <form method='post' action='/result'>
    	<label>Operating System: </label><label><input type='radio' name='os' value='OSX'>OSX</label><label><input type='radio' name='os' value='Windows'>Windows</label><label><input type='radio' name='os' value='iOS'>iOS</label><label><input type='radio' name='os' value='Android'>Android</label>
    		<label><input type='radio' name='os' value='' checked='checked'>other:<input type='text' name='other_os'/></label><br>
    	
    	<label>Web Browser: <select name='browser'>
    		<option value="Internet Explorer">Internet Explorer</option>
    		<option value="Safari">Safari</option>
    		<option value="Chrome">Chrome</option>
    		<option value="Firefox">Firefox</option>
    		<option value="Opera">Opera</option>
    		<option value="Other">Other</option>
    	  	</select></label><br>
    	<label>Favorite Language: <input type='text' name='favlang' required></label><br>
    	<label>Comments: <textarea name='comment' cols='90' rows='7'></textarea></label><br>
    	<button type='submit' value='submit'>Submit</button>
    </form>
</body>
</html>