<html>
<head>
	<style>
	textarea{
		resize:none;
	}
	label{
		padding-left:5px;
		margin-right: 10px;
	}
    #result{
        display: none;
    }
	</style>
	<title>Survey Form</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
    
$(document).ready(function (){
    // this triggers the connection event in our server!
    var socket = io.connect();
    // we'll write all the socket stuff after the above line!
   
    $('#target').submit(function(event) {
        socket.emit('form_submit', {browse: $('#browser').val(), 
                                    os: $('#os').val(),
                                    lang: $('#favlang').val(),
                                    comment: $('#comment').val()});
        event.preventDefault();
    });

    socket.on('random_number', function (data){        
        $('#result').show();
        $('#result').html(""+
            "<h2>Results: </h2>"+
        "<ul>" +
            "<li>Operating System: "+ data.os + "</li>"+
            "<li>Web Browser: " + data.browse + "</li>"+
            "<li>Favorite Language: "+ data.lang +"</li>"+
            "<li>Comments: "+ data.comment + "</li>"+
        "</ul>");
             
    });

})
    </script>
</head>
<body>
    <h2>Insert Info Here</h2>
    <form id='target'>
    	<label>Operating System: <input type='text' id='os' required></label><br>
    	
    	<label>Web Browser: <select id='browser'>
    		<option value="Internet Explorer">Internet Explorer</option>
    		<option value="Safari">Safari</option>
    		<option value="Chrome">Chrome</option>
    		<option value="Firefox">Firefox</option>
    		<option value="Opera">Opera</option>
    		<option value="Other">Other</option>
    	  	</select></label><br>
    	<label>Favorite Language: <input type='text' id='favlang' required></label><br>
    	<label>Comments: <textarea id='comment' cols='90' rows='7'></textarea></label><br>
    	

        <button type='submit' value='submit'>Submit</button>
    </form>


    <div id='result'>
        
    </div>
</body>
</html>